<!-- templates/custom_metrics.html -->
{% extends '_base.html' %}

{% block title %}Metrics{% endblock title %}

{% block content %}
    <h1>Async Demo</h1>

    <!-- panel -->
    <div class="uk-width-1-1@l">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">

            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Async Sleep Demo</h4></div>
                </div>
            </div>

            <div class="uk-card-body">
                <p>Demo using async and await, all five sleep function run in parallel.</p>
                {% for result in results %}
                    <p>{{ result }}</p>
                {% endfor %}
                <p><strong>Page rendered in: </strong>{{ duration }}</p>
            </div>
        </div>
    </div>
    <!-- /panel -->

{% endblock content %}