{% extends "_base.html" %}

{% block content %}

<h1>Homepage</h1>
<!-- panel -->
<div class="uk-width-1-1@l">
    <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-auto"><h4>Welcome</h4></div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>Please use the left navigation for tools.</p>
            <p>This is a simple FastAPI application with a few tools for testing custom metrics, log entries on-demand and demonstrations.</p>
        </div>
    </div>
</div>

{% endblock %}